.diagram{
	height: 600px;
	background-image: url(images/request.png);
	background-size:contain;
	background-repeat: no-repeat;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 60px;
}
.desc{
	margin: 20px;
	text-align: justify;
	font-size: 1.25em;
	margin-left: 160px;
	margin-right: 160px;
}
