.center{
	margin:auto;
	width: 50%;
}
.diagram{
	height: 600px;
	width:900px;
	background-image: url(images/request.png);
	background-size:contain;
	background-repeat: no-repeat;
	margin-top: 60px;
}
.desc{
	margin: 20px;
	text-align: justify;
	font-size: 1.25em;
	margin-left: 160px;
	margin-right: 160px;
}
@media (max-width: 800px) {
.diagram{
	height: 300px;
	width: 400px;
}
	.desc{
		font-size: 1.1em;
		margin-left: 80px;
		margin-right: 80px;
	}
	.center{
		margin:auto;
		width: 50%;
	}
}

/* Small screens */
@media (max-width: 500px) {
	.diagram{
		height: 200px;
		width: 300px;
	}
	.desc{
		font-size: .9em;
		margin-left: 60px;
		margin-right: 60px;
	}
	.center{
		margin:auto;
		width: 50%;
	}

}